@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #016eb7;
  --secondary: #303b45;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}
