@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #00ffff;
  --secondary: #0f172a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}
